<div class="ecard--header">
    <div class="ecard-logo">
        <!-- <img src="images/logo.jpeg"> -->
        ecard
    </div>
    <div class="ecard--header--nav">
        <div class="ecard--top--bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">SignUp / Login</a>
        </div>
        <div class="ecard--bottom--bar">
            <div class="ecard-menu">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="ecard--search-bar">
                <input type="text" class="ecard-search-box" placeholder="Search">
                <button class="ecard--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</div>