<!-- <p-card header={{product.price}} subheader={{product.price}} [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src={{product.image_url}} />
    </ng-template>
    <p class="ecard--product--card--name--description">
        {{product.name}} . {{product.description}}
    </p>
    <p>
        {{product.gender}}
    </p>
    <p class="ecard--product--card--category">
        {{product.category}}
    </p>
    <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
        {{product.brand}}
    </p>
    <p>
        <p-rating [(ngModel)]="product.rating"></p-rating>
    </p>
    <ng-template pTemplate="footer">
        <div>
            {{product.is_in_inventory ? 'Available in stock': 'Not available in stock'}}
        </div>
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card> -->