
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    overflow: hidden;
	background-color: #1b1919;
	background-image: url(../../../assets/images/main-page-background.png);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen {		
	background-color: black;	
	position: relative;	
	height: 600px;
	width: 360px;	
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #2d4059;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: #2d4059;
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #2d4059;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.recover_password {
	width: 320px;
	padding: 30px;
	padding-top: 110px;
}

.recover__field {
	padding: 20px 0px;	
	position: relative;
	display: flex;
    flex-direction: column;
}

.recover__icon {
	position: absolute;
	top: 30px;
	color: #2d4059;
}

.recover_username__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.recover_username__input:active,
.recover_username__input:focus,
.recover_username__input:hover {
	outline: none;
	border-bottom-color: #2d4059;
}

.recover_username__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #2d4059;
	box-shadow: 0px 2px 2px #2d4059;
	cursor: pointer;
	transition: .2s;
}

.recover_username__submit:active,
.recover_username__submit:focus,
.recover_username__submit:hover {
	border-color: #2d4059;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #2d4059;
}

.btn {
    cursor: pointer;
    color: #2b67b6;
}

.btn:hover {
    color: #0c84e6;
}