.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 5;
    cursor: pointer;
}

.ecard--product--detail--info{
    position: absolute;
    z-index: 10;
    background-color: white;
    transition: 1s;
    width: 480px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px 25px;
}

.ecard--product--detail--close{
    text-align: right;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    padding: 5px 0px;
}

.ecard--product--detail--image {
    width: 100%;
    height: 320px;
}

.ecard--product--detail{
    padding: 10px 0px;
}

.ecard--product--detail--gbc{
    margin: 20px 0px;
}

.ecard--product--detail--gbc > span {
    background-color: grey;
    margin-left: 0px;
    padding: 5px 20px;
    font-size: 14px;
    color:white;
}

.ecard--product--detail--name {
    margin:20px auto;
}

.ecard--product--detail--price {
    font: size 14px;
    margin:30px 0px;
    padding: 25px 10px;
    background-color: white;
    border: yellow 2px solid;
    border-radius: 5px;
}

.ecard--product--detail--size {
    margin:30px 0px;
}
span {
    padding: 5px 10px;
    margin:5px 5px;
    border-radius: 5px;
}

.ecard--product-detail--available--size{
    margin: 0px 0px;
    background-color: black;
    color: white;
    border-radius: 0px;
    padding: 10px 15px;
    font-size: 16px;
}

.ecard--product--detail--available--color{
    border-radius: 50%;
    padding: 8px 18px;
}

.ecard--product--detail--desc{
    margin-top: 30px;
    font-size: 14px;
}

.ecard--product--detail--addtocard {
    margin: 20px 0px;
}

.btn--add--to--card{
    border: none;
    background-color: black;
    padding: 10px 30px;
    font-size: 20px;
    columns: white;
}

.scroll {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px black;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 6px black;
}