.ecard--search--product{
    text-align: center;
}

.ecard-search-product-input{
    width:500px;
    height: 5.5vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 2px;
    background-color: #efefef;
    border:#28282B 1px solid;
    margin-bottom: 10px;
}

.btn{
    width: 130px;
    max-height: 5.5vh;
    margin-top: 10px;
    margin-bottom: 10px;
}