:host::ng-deep {

    .button {
        background:#2d4059;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .button:hover {
        background: #3b50b2;
    }
    
    .custom-toolbar {
        background-color: black;
        border-radius: 0px;
        border-color: black;
    }
}