<div class="ecard--top--bar">
    <p-button class="p-ripple p-element p-button p-component p-button-icon-only btn" icon="pi pi-home" 
    (onClick)="redirectToCatalogue()"></p-button>
    <app-search></app-search>
    <a href="#" style="color: white;max-width: 100px;margin-top: 20px;">Language</a>
    <a href="#" style="color: white; max-width: 100px;margin-top: 20px;">Order Tracker</a>
    <a href="#" style="color: white;max-width: 100px;margin-top: 20px;">SignUp / Login</a>
    <p-button class="p-ripple p-element p-button p-component p-button-icon-only btn" icon="pi pi-shopping-cart" badge="8" badgeClass="p-badge-danger"></p-button>
</div>