.ecard--top--bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #272829;
}

.btn{
    width: 100px;
    max-height: 5.5vh;
    margin-top: 10px;
    margin-bottom: 10px;
}