* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1E6F72;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: #27acb3;
}

.image-section, .text-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text-section {
    max-width: 500px;
    margin-left: 20px;
    margin-top: 120px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
