.header {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: #1b1919;
    background-image: url(../../assets/images/main-page-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-section img {
    width: 100%;
    max-width: 300px;
    height: 350px;
    display: block;
    margin: 0 auto;
}

.text-section {
    max-width: 500px;
    margin-left: 20px;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 20px;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #1b4b8d;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3b50b2;
}

.pre-copy {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}