<header class="header">
    <div style="padding-left:20px; padding-top: 10px; font-style: italic;">Trendora</div>
    <div class="buttons">
        <button class="btn" (click)="redirectToLogin()">Login</button>
        <button class="btn" (click)="redirectToSignUp()">Register</button>
    </div>
</header>

<div class="container">
    <div class="image-section">
        <img src="../../assets/images/shop.jpg">
    </div>
    <div class="text-section">
        <h1 style="font-size: 40px;font-style: italic;">Welcome to Our Store</h1>
        <p style="font-style: italic">Find the best items for your everyday needs.</p>
        <button class="btn" (click)="redirectToCatalogue()">Explore our Catalogue</button>
    </div>   
</div>